.main_gigs_parent {
  background-color: #fff;
}
h2 {
  color: #fff;
}
.card1 .card-border-top {
  width: 60%;
  height: 3%;
  background: #6278df;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card1 span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card1 .job {
  font-weight: 400;
  color: #2a3254;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
  margin: 0 0 25px;
}

.card1 .img {
  width: 100%;
  height: 200px;
  background: #2d23fa;
  border-radius: 15px;
  margin: auto;

  margin-top: 40px;
}
img {
  width: 100%;
  height: 100%;
}

/* button design */
.button {
  position: relative;
  padding: 13px 18px;
  outline: none;
  border: 2px solid #EC4899;
  /* background: ; */
  color: #2a3254;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
}

.button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.button span {
  position: absolute;
}

.button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/*  */

.card1 {
  height: 600px;
  background-image: linear-gradient(163deg, #676767 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.card2 {
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(61, 180, 91, 0.3);
}
