.header_container{

}
.header_section{
    background-image: url('https://i.ibb.co/HXX7c59/about-img-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}