.banner_main_box {
  width: 100%;
}
.article_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.article_left_side,
.article_right_side {
  width: 50%;
}
