/* ==============================
      Banner Component styles
=============================== */
.profile_banner {
  background-image: url(https://i.ibb.co/qksQWjQ/background-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600%;
}
.profile_banner2 {
  background-image: url(https://i.ibb.co/Tk3Lz40/original-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.content_profile_banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_1 {
  font-size: 48px;
  text-align: left;
}
.content_2 {
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile_banner {
    background-image: url(https://i.ibb.co/qksQWjQ/background-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .profile_banner2 {
    background-image: url(https://i.ibb.co/Tk3Lz40/original-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .content_profile_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .content_1 {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
  }
  .content_2 {
    font-size: 18px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
}
.banner_main_parent_box {
  position: relative;
  background: navy;
}
.banner_main_parent_box .banner_content {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.banner_main_parent_box article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.banner_main_parent_box article img {
  height: 100%;
}
.banner_main_parent_box article.nextSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}
.banner_main_parent_box article.activeSlide {
  opacity: 1;
  visibility: visible;
  transition: all 2s linear;
}
.banner_main_parent_box article.lastSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}

/* Register page design */
.input_form input {
  @apply border-2 border-gray-300 w-full block text-lg font-bold rounded-md py-1 px-4 mb-3;
}

/* =====Loading or Loader==== */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svg-hover:hover .icon {
  fill: white;
}
/* ========================= */
.profilePicUploadIcon {
  position: absolute;
  left: 61px;
  bottom: 5px;
  font-size: 30px;
}
/* ===========Gig Search page styles========== */
.gig_wrapper_column {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-6;
}
.gig_card_row {
  @apply grid sm:grid-cols-3 sm:items-center gap-6;
}
.MuiFormControlLabel-root {
  color: #fff;
}
.MuiSvgIcon-root {
  color: #fff !important;
}
/* 

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  overflow-y: scroll;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
 
  max-width: 150px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  overflow: hidden;
  display: flex;
 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;

  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
} */
.hide {
  opacity: 0 !important;
}
.button_gradient {
  background: linear-gradient(-25deg, #d937de, #6c38f2);
  padding: 0.6rem 2rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: ui-rounded;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.flat_gradient {
  background: linear-gradient(-25deg, #d937de, #6c38f2);
}
.pricing_card {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* ==================================
              Features Cart
   ==================================
 */

.styled:hover .text {
  color: white;
}

/* Device component Styles */
.application_animation {
  animation: deviceAnimation 2s linear infinite;
}

@keyframes deviceAnimation {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-15deg) translateY(25px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
/* Taks Craetor page */
.date-picker-task-create input {
  color: #fff !important;
}

/* * chat started */
/* * main container */

.mesenger {
  /* background-color: rgb(77, 77, 77); */
  height: calc(100vh - 58px);
  display: flex;
}
/* * conversation */
.chatMenu {
  /* border: 1px solid #000; */
  flex: 3;
}
.responsiveMenuTool {
  display: none !important;
}
.chatOnline {
  flex: 3;
}

/* * chat message box */
.chatBox {
  /* border: 1px solid #000; */
  flex: 6;
}
.chatWrapperP {
  margin-bottom: 20px;
}
.onlineWrapper {
  height: 100%;
  overflow-y: scroll;
}
.menu1 {
  z-index: 120;
  padding-left: 10px;
  padding-top: 15px;
}
.menu2 {
  z-index: 130;
  padding-right: 15px;
  padding-top: 15px;
}

.chatMenuWrapper {
  /* position: absolute; */
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 90%;
  overflow-y: scroll;
  display: block !important;
  transition: 2s;
  top: 40;
  /* border: 1px solid gray; */
  box-shadow: 0 0 10px 1px lightgray;
  border-radius: 10px;
}
.onlineMenuWrapper {
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 90%;
  overflow-y: scroll;
  display: block !important;
  transition: 1s;
  top: 40;
  box-shadow: 0 0 10px 1px lightgray;
  border-radius: 10px;
}

.chatBoxWrapper {
  margin-top: 20px;
  margin: 20px;
  padding: 20px;
  height: 95%;
  box-shadow: 0 0 10px 1px lightgray;
  border-radius: 10px;
}
.onlineWrapper {
  padding-top: 20px;
}
.chatBoxBottom {
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  width: 75%;
  height: 70px;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 20px;
}
.chatBoxButtonSubmit {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightblue;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

/* ? conversation css added */
.conversation {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-bottom: 10px;
  /* margin-top: 20px; */
  transition: all 0.3s ease-in;

  /* overflow: hidden; */
}
.conversation:hover {
  /* border: none; */
  background-color: rgb(245, 236, 236);
  color: black;
}
.conversationImg {
  width: 40px;
  /* height: 60px; */
  border-radius: 50%;
}
.conversationName {
  font-weight: 500;
}

/* ? message section */
.message {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.messageTop {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.messageImg {
  width: 40px;
  border-radius: 50%;
}
.messageText {
  background-color: rgba(199, 199, 199, 0.527);
  padding: 12px 20px;
  border-radius: 10px;
  color: black;

  max-width: 300px;
}
.messageBottom {
  font-size: 12px;
  margin-top: 5px;
}
.message.own {
  align-items: flex-end;
  /* background-color: darkcyan; */
}
.message.own .messageText {
  background-color: rgb(91, 91, 218);

  color: #fff;
}

/* * chat responsive */
@media screen and (max-width: 768px) {
  .chatMenuWrapper.open {
    left: -100%;
  }

  .chatMenuWrapper {
    display: block !important;
    position: absolute;
    top: 40;
    margin-top: 0px;
  }
  .chatMenuWrapper2 {
    display: block !important;
    position: absolute !important;
    padding: 20px 30px;
    left: 0%;
    background-color: #7479bb;
    /* height: 100vh !important; */
    /* width: 40%;  */
    top: 40;
    transition: 1s;
    height: 91.2%;
    overflow-y: scroll;
    z-index: 20;
    color: white;
  }
  .onlineMenuWrapper.open2 {
    left: -100%;
    overflow-y: scroll;
  }
  .onlineMenuWrapper {
    display: block !important;
    position: absolute;
    top: 40;
    overflow-y: scroll;
    margin-top: 0px;
  }
  .onlineMenuWrapper2 {
    display: block !important;
    position: absolute !important;
    padding: 20px 40px;
    right: 0%;
    background-color: #7479bb;
    /* height: 100vh !important; */
    /* width: 40%;  */
    top: 40;
    margin-right: 0px;
    transition: 1s;
    height: 91.2%;
    overflow-y: scroll;
    z-index: 20;
    color: white;
  }
  .chatMenu {
    flex: 0;
  }
  .chatBox {
    /* border: 1px solid #000; */
    flex: 10;
  }
  .chatOnline {
    flex: 0;
  }
  .chatBoxWrapper {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding: 10px 20px 10px 20px;
    height: 95%;
    color: #fff !important;
    box-shadow: 0 0 10px 1px lightgray;
    border-radius: 10px;
  }
}
/* =================How It Work Component============== */
.how_it_work_component .ant-collapse-header {
  background: #2a3254;
  color: #fff !important;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.how_it_work_component .ant-collapse-content-box {
  background: #fff;
  color: #2a3254 !important;
}
.how_it_work_component .ant-collapse-item {
  margin-bottom: 1rem;
  background: none !important;
  border: none !important;
  border-radius: 0.7rem !important;
}
.how_it_work_component .ant-collapse {
  border: none !important;
  background-color: none !important;
}
.how_it_works_video_class {
  width: 100% !important;
  height: auto !important;
  min-height: 330px;
}
.how_it_works_video_class .video-stream {
  width: 100% !important;
  height: 100%;
  left: 0px !important;
  top: 0px;
}
.how_it_work_component .html5-video-container video {
  width: 100% !important;
  left: 0px !important;
  min-height: 400px;
}
.how_it_works_video_class div {
  height: 360px !important;
}
.how_works_play_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #e83a3b;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #e83a3b;
  text-align: center;
  cursor: pointer;
  animation: buttonAnimate 2s infinite;
}

@keyframes buttonAnimate {
  0% {
    width: 55px;
    height: 55px;
    border-color: #e83a3b;
    color: #e83a3b;
  }
  30% {
    width: 65px;
    height: 65px;
    border-color: #43a047;
    color: #43a047;
    opacity: 1;
  }
  50% {
    width: 65px;
    height: 65px;
    border-color: #e83a3b;
    color: #e83a3b;
    opacity: 1;
  }
  100% {
    width: 55px;
    height: 55px;
    opacity: 0;
    background-color: none;
  }
}

/* ================BUY PLAN PAGE=============== */
.buy_task_glass {
  background: rgb(0 255 243 / 39%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 38%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.1rem;
  color: #000 !important;
  text-align: center;
  margin: 0.2rem 0;
  padding: 0.3rem;
}
.Mui-selected {
  background-color: #c2410c !important;
  color: "#fff !important";
}
.MuiPickerStaticWrapper-root {
  background: none !important;
}

/* -----------------------------
Resume_form page
--------------------------------*/

.must:after {
  content: " *";
  color: red;
}
