/* ==============================
      Banner Component styles
=============================== */
.banner_main_parent_box {
  position: relative;
  background: navy;
}
.banner_main_parent_box .banner_content {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.banner_main_parent_box article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.banner_main_parent_box article img {
  height: 100%;
}
.banner_main_parent_box article.nextSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}
.banner_main_parent_box article.activeSlide {
  opacity: 1;
  visibility: visible;
  transition: all 2s linear;
}
.banner_main_parent_box article.lastSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}

/* Register page design */
.input_form input {
  @apply border-2 border-gray-300 w-full block text-lg font-bold rounded-md py-1 px-4 mb-3;
}

/* =====Loading or Loader==== */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svg-hover:hover .icon {
  fill: white;
}
/* ========================= */
.profilePicUploadIcon {
  position: absolute;
  left: 61px;
  bottom: 5px;
  font-size: 30px;
}
/* ===========Gig Search page styles========== */
.gig_wrapper_column {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 px-6;
}
.gig_card_row {
  @apply grid sm:grid-cols-3 sm:items-center gap-4;
}
.MuiFormControlLabel-root {
  color: #fff;
}
.MuiSvgIcon-root {
  color: #fff !important;
}

/* chat */
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  overflow-y: scroll;
  position: relative;
  /* border-radius: 10px; */
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  /* width: auto;
  height: auto; */
  /* min-height: 40px; */
  max-width: 150px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  /* display: flex;
  align-items: center; */
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  overflow: hidden;
  display: flex;
  /* margin-top: 2px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;

  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
.button_gradient {
  background: linear-gradient(-25deg, #d937de, #6c38f2);
  padding: 0.6rem 2rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: ui-rounded;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.flat_gradient {
  background: linear-gradient(-25deg, #d937de, #6c38f2);
}
.pricing_card {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
/* Device component Styles */
.application_animation {
  animation: deviceAnimation 2s linear infinite;
}

@keyframes deviceAnimation {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-15deg) translateY(25px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
/* Taks Craetor page */
.date-picker-task-create input {
  color: #fff !important;
}

/* * chat started */
/* * main container */

.mesenger {
  /* background-color: rgb(77, 77, 77); */
  height: calc(100vh - 63px);
  display: flex;
}
/* * conversation */
.chatMenu {
  /* border: 1px solid #000; */
  flex: 3;
}
.chatOnline{
  flex:3
}
.chatMenuInput {
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

/* * chat message box */
.chatBox {
  /* border: 1px solid #000; */
  flex: 6;
}
.chatWrapperP {
  margin-bottom: 10px;
}
.onlineWrapper{
  height: 100%;
  overflow-y: scroll;
}
.chatMenuWrapper{
  height: 100%;
  overflow-y: scroll;
}

.chatMenuWrapper,
.chatBoxWrapper,
.onlineWrapper {
  /* padding: 20px; */
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
  height: 95%;
}
.chatBoxBottom {
  padding-top: 20px;
  /* padding-left: 20px; */
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  width: 75%;
  height: 70px;
  padding:  20px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  /* padding: 5px 20px; */
}
.chatBoxButtonSubmit {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightblue;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

/* ? conversation css added */
.conversation {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;

  /* overflow: hidden; */
}
.conversation:hover {
  /* border: none; */
  background-color: gainsboro;
}
.conversationImg {
  width: 40px;
  /* height: 60px; */
  border-radius: 50%;
}
.conversationName {
  font-weight: 500;
}

/* ? message section */
.message {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.messageTop {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.messageImg {
  width: 40px;
  border-radius: 50%;
}
.messageText {
  background-color: rgba(199, 199, 199, 0.527);
  padding: 20px;
  border-radius: 20px;
  color: black;

  max-width: 300px;
}
.messageBottom {
  font-size: 12px;
  margin-top: 5px;
}
.message.own {
  align-items: flex-end;
  /* background-color: darkcyan; */
}
.message.own .messageText {
  background-color: rgb(91, 91, 218);

  color: #fff;
}
