/* ==============================
      Banner Component styles
=============================== */
.banner_main_parent_box {
  position: relative;
  background: navy;
}
.banner_main_parent_box .banner_content {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.banner_main_parent_box article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.banner_main_parent_box article img {
  height: 100%;
}
.banner_main_parent_box article.nextSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}
.banner_main_parent_box article.activeSlide {
  opacity: 1;
  visibility: visible;
  transition: all 2s linear;
}
.banner_main_parent_box article.lastSlide {
  opacity: 0;
  visibility: hidden;
  transition: all 2s linear;
}

.slider_screen {
  height: 100vh;
  max-height: 700px;
}
/* feature css */
.feature-font {
  font-family: "Poppins", sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* media query */
@media only screen and (max-width: 868px) {
  .slider_screen {
    height: 100vh;
    max-height: 500px;
  }
}

/* Register page design */
.input_form input {
  @apply border-2 border-gray-300 w-full block text-lg font-bold rounded-md py-1 px-4 mb-3;
}

/* =====Loading or Loader==== */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ========================= */
.profilePicUploadIcon {
  position: absolute;
  left: 61px;
  bottom: 5px;
  font-size: 30px;
}
/* ===========Gig Search page styles========== */
.gig_wrapper_column {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 px-6 min-h-screen;
}
.gig_card_row {
  @apply grid sm:grid-cols-3 sm:items-center gap-4;
}
.MuiFormControlLabel-root {
  color: #fff;
}
.MuiSvgIcon-root {
  color: #fff !important;
}
