@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Yellowtail&display=swap"); */

@import url("http://fonts.cdnfonts.com/css/cubano");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"); */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif !important; */
  font-family: "Cubano", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.lato{
  font-family: 'Lato', sans-serif;
}
/* .cubano {
  font-family: "Cubano", sans-serif;
} */

* {
  box-sizing: border-box;
}
.custom-font-1 {
  font-family: "PT Sans", sans-serif;
}
.italic_text {
  font-family: "Hurricane", cursive;
}
.container {
  width: 100%;
  max-width: 1200px !important;
}
.container-fluid {
  width: 100%;
  max-width: 1300px;
}
.register_bg {
  background-image: url(https://i.ibb.co/JHYB9SJ/2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text_no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
button {
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
}
/*  */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

body::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 2px solid rgb(24, 113, 203);
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.sidebar_menu_scrollbar::-webkit-scrollbar {
  width: 0;
}

.sidebar_menu_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

.sidebar_menu_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 0px solid rgb(24, 113, 203);
}
.content_scrollbar::-webkit-scrollbar {
  width: 0;
}

.content_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

.content_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 0px solid rgb(24, 113, 203);
}
.main_loader_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #263038;
}
.main-loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  color: rgb(51, 255, 0);
}
.main-loader:before,
.main-loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.main-loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.8em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.8em 0.1em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.8em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.8em 0.1em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.8em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.8em -0.1em 0 0 currentcolor;
  }
  75% {
    box-shadow: 00px -0.1em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.8em -0.1em 0 0 currentcolor;
  }
}
