@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Hurricane&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,600&family=Yellowtail&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Yellowtail&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Comfortaa", cursive; */
  /* font-family: "PT Sans", sans-serif; */
  /* font-family: "Red Hat Mono", monospace; */
  /* font-family: "Yellowtail", cursive; */
  font-family: "Poppins", sans-serif;

  /* added by mahmud */
  /* 
  font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Red Hat Mono', monospace;
font-family: 'Yellowtail', cursive;
   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.custom-font-1 {
  font-family: "PT Sans", sans-serif;
}
.italic_text {
  font-family: "Hurricane", cursive;
}
.container {
  width: 100%;
  max-width: 1200px !important;
}
.container-fluid {
  width: 100%;
  max-width: 1300px;
}
.register_bg {
  background-image: url(https://i.ibb.co/JHYB9SJ/2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text_no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
button {
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
}
/*  */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

body::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 2px solid rgb(24, 113, 203);
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.sidebar_menu_scrollbar::-webkit-scrollbar {
  width: 0;
}

.sidebar_menu_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

.sidebar_menu_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 0px solid rgb(24, 113, 203);
}
.content_scrollbar::-webkit-scrollbar {
  width: 0;
}

.content_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.689);
}

.content_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a2747;
  border-left: 0px solid rgb(24, 113, 203);
}
