.header_top_social__menu {
  @apply text-lg bg-[#ec4899] text-[#fff] py-1 w-8 ml-1 flex items-center justify-center rounded-sm border border-white shadow-lg cursor-pointer hover:bg-[#fff] hover:text-[#ec4899];
}
/* Header Login and LogOut Menu button for full screen */
#login {
  color: #fff !important;
}
#login svg {
  color: #fff !important;
  fill: #ec4899;
}
#login path {
  stroke: #fff !important;
  fill: #ec4899;
}
#login svg {
  color: #fff !important;
  fill: #ec4899;
  /* background: #ff8e8a5e; */
}
/* 
==========================
      Header bottom
==========================
*/
.header_bottom {
  z-index: 100;
}
.header_bottom .main_button .dropdown_button {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0%);
  transition: all 0.5s linear;
  transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
}

.header_bottom .main_button:hover .dropdown_button {
  opacity: 1;
  visibility: visible;
  transform: scaleY(100%);
  background: #fff;
  z-index: 100 !important;
}
.header_bottom .main_button .dropdown_button li:hover a {
  color: #fff;
}
